body {
}
a {
    font-size: 20px;
    font-family: "Agency FB", serif;
    /*display: inline-block;*/
}
body {
    display: block;
}
.navigace {
    padding: 0;
    margin: 0;
    text-align: left;
    /*color: white;*/
    font-family: "Agency FB", serif;
    display: flex;

}
.navigace li {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.navigace li a {
    text-decoration: none;
    color: black;
}

a {
    padding: 10px;
}

.profile {
    border-radius: 50%;
    padding-left: 0;
}

.content {
    padding-left: 100px;
    padding-top: 50px;
}

.social {
    width: 50%;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    display: flex;
}

.social li {
    display: inline-block;
}

.social a {
    font-size: 200%;
    color: black;
}

.social a :hover {
    color: darkblue;
}

.skills {
    list-style: none;
    margin: 0;
    padding-left: 10px;
    display: flex;

}

.info {
}

.corporation {
    display: flex;
    justify-content: left;
    align-content: flex-end;
    padding-top: 15vw;
}

.corporation {
    padding-left: 0;
}

.donation {
    list-style: none;
    padding-right: 25px;
    font-size: 150%;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    width: 80vw;
}

.top {
    padding-left: 100px;
    padding-top: 50px;
    }

.meter {
    height: 20px;  /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.fa-dollar-sign {
    color: black;
    font-size: 50px;

}

.donate :hover {
    color: #336c4c;
}

.line {
    border-bottom: gray solid 1px;
}

.donate {
    align-content: center;
    justify-content: center;
    display: flex;
}

.content {
}

.me {
    text-align: right;
    margin-right: 20vw;
}